@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

h1,
p {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

h1 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: .7em;
}

p {
    font-weight: 400;
    /* font-size: 1.5rem; */
    color: red;
    font-size: .9rem;
}

.main {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.joke {
    margin: 2em;
    padding: 10px;

}

button {
    padding: 15px 20px;
    border-radius: 9px;
    font-size: 1rem;
    margin-bottom: 2em;
    letter-spacing: 1px;
}

.btn--joke {
    border: none;
    cursor: pointer;

    color: black;
    transition: color 1s;
    font-weight: 700;

}

.btn--joke:hover {

    color: white;
    background-color: black;

}

@media (min-width: 600px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        min-width: 600px;
    }
}